
<%= simple_form_for(@blacklist) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <div class="cookies"><%= f.input :name, label: false, class: "answers" %></div>
  </div>

  <div class="form-actions">
    <div class="awesome">
      <%= f.button :submit, "submit/add new name", class: "btn btn-pink text-white text-uppercase rounded-pill fw-bold size-larger" %>
    </div>
  </div>
<% end %>
