<p style="color: green"><%= notice %></p>
  <div class="information-block">
    <h5 class="buttface">Thank you for letting us know, we are sorry you’re not able to join us.
    Please could you fill in the table below with your name and anyone else from your invitation who is not able to join.</h5>

    <div id="blacklists">

    <table class="buttface">
            <tr>
              <th class="cookies">Name</th>
              <th class="cookies"> </th>

            </tr>
            <% Blacklist.all.each do |form| %>
              <tr>
                <td class="cookies"><%= form.name %></td>
                <td class="cookies"><%= link_to "Edit", edit_blacklist_path(form) %></td>
              </tr>
            <% end %><br>
          </table>
    <%= render "form", blacklist: @blacklist %>
  </div>
</div>

<%# <%= link_to "New blacklist", new_blacklist_path %>
