<p style="color: green"><%= notice %></p>

<%= render @blacklist %>

<div>
  <%= link_to "Edit", edit_blacklist_path(@blacklist) %> |
  <%= link_to "Back to list", blacklists_path %>

  <%= button_to "Remove Name", @blacklist, method: :delete %>
</div>
