<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap" rel="stylesheet">
</head>

    <div class="navbar navbar-expand-sm navbar-light">
      <div class="navbar-brand">
        <%= image_tag "oliviaandtom.png", class: "flowers opacity: 50" %><br>
          <h3 class="buttface">The countdown is on: <%= @difference %> days to go!</h3>
          <%# <h1><strong>CREDITS TO GUY MURPHY!</strong></h1> %>
          <% if user_signed_in? %>
            <div class="info-options">
              <div class="saphire">
                <%= link_to "HOME", user_registration_url, class: "book" %>
              </div>
              <div class="book-line"> | </div>
              <div class="saphire">
                <%= link_to "LOGISTICS", logical_path, class: "book" %>
              </div>
              <div class="book-line"> | </div>
              <div class="saphire">
                <%= link_to "LOCAL AREA", active_path, class: "book" %>
              </div>
              <div class="book-line"> | </div>
              <div class="saphire">
                <%= link_to "REGISTRY", registry_path, class: "book" %>
              </div>
            </div>
            <div class="info-options">
              <%= button_to "Log out", destroy_user_session_path, method: :delete, form: {  data: { turbo: :false } }, class: "btn btn-pink text-grey text-uppercase rounded-pill fw-bold" %>
            </div>
          <% end %>
      </div>
    </div>

<%# THEY DONT KNOW IF THEY'RE PROVIDING TRANSPORT. %>
