
<%= simple_form_for(@rsvp) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <% if @rsvps.count == 0 %>
  <div class="form-inputs">
    <div class="book">
      <div class="cookies"><div class="smaller"><%= f.input :name, label: false, placeholder: 'Name' %></div></div>
      <div class="cookies"><div class="smaller"><%= f.input :food_requests, label: false, placeholder: 'Dietary Req.', class: "smaller" %></div></div>
      <div class="cookies"><div class="smaller"><%= f.input :accomodation, label: false, placeholder: 'Accomodation' , class: "smaller"%></div></div>
    </div>
  </div>
  <% else %>
  <div class="book">
      <div class="cookies"><div class="smaller"><%= f.input :name, label: false, placeholder: 'Name' %></div></div>
      <div class="cookies"><div class="smaller"><%= f.input :food_requests, label: false, placeholder: 'Dietary Req.' %></div></div>
      <div class="cookies"><div class="smaller"><%= f.input :accomodation, label: false, placeholder: 'Accomodation' %></div></div>
    </div>
  </div>
  <% end %>
    <div class="awesome">
      <%= f.button :submit, "submit/add new name", class: "btn btn-pink text-white text-uppercase rounded-pill fw-bold size-larger" %>
    </div>
<% end %>
