
<%= simple_form_for(@rsvp) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <% if @rsvps.count == 0 %>
  <div class="form-inputs">
    <div class="book">
      <div class="cookies"><%= f.input :name, label: false, placeholder: 'Name', required: true %></div>
      <div class="cookies"><%= f.input :food_requests, label: false, placeholder: 'Dietary Req.', required: true %></div>
      <div class="cookies"><%= f.input :accomodation, label: false, placeholder: 'Accomodation', required: true %></div>
    </div>
  </div>
  <% else %>
  <div class="book">
      <div class="cookies"><%= f.input :name, label: false %></div>
      <div class="cookies"><%= f.input :food_requests, label: false %></div>
      <div class="cookies"><%= f.input :accomodation, label: false %></div>
    </div>
  </div>
  <% end %>
  <div class="form-actions">
    <div class="awesome">
      <%= f.button :submit, "submit", class: "btn btn-pink text-white text-uppercase rounded-pill fw-bold size-larger" %>
    </div>
  </div>
<% end %>
