<p style="color: green"><%= notice %></p>
<div class="information-block">
  <h5 class="surf">We are thrilled you’re able to attend and can’t wait to celebrate with you. Please will you fill out the below table for yourself and
  anyone else on your invitation. At the end of the night there will be a limited number of taxis, so we will try to help people who are staying in the area coordinate their travel.</h4></h5>

  <div id="rsvps" class="rice">
        <table>
          <% @rsvps.each do |form| %>
            <tr>
              <td class="stray"><div class="surf"><%= form.name %></div></td>
              <td class="stray"><div class="surf"><%= form.food_requests %></div></td>
              <td class="stray"><div class="surf"><%= form.accomodation %></div></td>
              <%# <td class="bad-cookies"><div class="surf"><%= link_to "Edit", edit_rsvp_path(form) %>
            </tr>
          <% end %><br>
        </table>
  </div>

<%= render "form" %>
</div>
