<p style="color: green"><%= notice %></p>
<div class="information-block">
  <div id="rsvps">
        <table>
          <tr>
            <th class="cookies"><div class="buttface">Name</div></th>
            <th class="cookies"><div class="buttface">Dietry Req.</div></th>
            <th class="cookies"><div class="buttface">Accomodation</div></th>
            <th class="cookies"> </th>

          </tr>
          <% @rsvps.each do |form| %>
            <tr>
              <td class="cookies"><div class="buttface"><%= form.name %></div></td>
              <td class="cookies"><div class="buttface"><%= form.food_requests %></div></td>
              <td class="cookies"><div class="buttface"><%= form.accomodation %></div></td>
              <td class="cookies"><div class="buttface"><%= link_to "Edit information", edit_rsvp_path(form) %></td>
            </tr>
          <% end %><br>
        </table>
  </div><br>

<%= render "form" %>
</div>
