<%# <p style="color: green"><%= notice %>

<%= render @rsvp %>

<div>
  <%= link_to "Edit this rsvp", edit_rsvp_path(@rsvp) %> |
  <%= link_to "Back to rsvps", rsvps_path %>

  <%= button_to "Delete rsvp", rsvps_path, method: :delete %>
</div>
